.border{
	border-style:solid;
		border-color:#B03060;
}
.product_text{
	color:#B03060;
	font-weight:bold;
}
.f{
	height:100px;
	background-color:#B0908B;
}
.p{
		color:#B03060;
	font-weight:bold;
	font-size:16px;
	padding-top:60px;
}